/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/

body.dark-mode {
    background: #000 !important;
}

.dark-comb.dark-mode {
    z-index: 1000 !important;
}

.dark-svg.dark-mode {
    margin: auto !important;
    float: unset;
    top: 35px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#hero {
    min-height: 400px;
    height: 400px;
    background: url('/images/image-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#dark {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    opacity: .7;
}

#home-h {
    width: 200px;
    text-align: center;
    font-size: 3.4375em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
    height: 300px;
    padding-top: 0px;
}

#home-h:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 200px;
    border: 10px solid rgba(222, 43, 27, .4);
    z-index: -1;
}

#hero img {
    display: none;
}

.white-comb {
    position: absolute;
    width: 100%;
    bottom: -2px;
    z-index: 100;
}

.white-comb.dark-mode {
    display: none !important;
}

.dark-comb.dark-mode {
    display: block;
    position: absolute;
    bottom: -2px;
    z-index: 100;
}

/*-- -------------------------- -->
<---          SERVICES          -->
<--- -------------------------- -*/

#services {
    padding-top: 50px;
    padding-bottom: 50px;
}

.topper {
    margin-bottom: 50px;
}

.topper h2 {
    font-size: 1.875em;
}

.topper span {
    display: block;
    color: var(--primary);
    margin-bottom: 10px;
}

.bee-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
}

.bee-line svg {
    width: 30px;
    margin-right: 15px;
    height: auto;
}

.right {
    height: 2px;
    width: 200px;
    background: #f9f9f9;
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
}

.service-item {
    margin-bottom: 50px;
    position: relative;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);
    padding: 25px;
    border-radius: 7px;
}

.service-item:last-child {
    margin-bottom: 0;
}

.service-item svg {
    width: 70px;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.service-item h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5625em;
}

.service-item p {
    text-align: center;
}

.service-button {
    display: block !important;
    margin: 25px auto;
}

/*-- -------------------------- -->
<---         OUR MISSION        -->
<--- -------------------------- -*/

#our-mission {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("/images/mission-short.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#our-mission:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
}

.join {
    margin-bottom: 10px !important;
}

.mission-container h2 {
    font-size: 1.875em;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.mission-container h2 span {
    display: block;
    color: var(--primary);
}

.mission-container p {
    margin-bottom: 50px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.mission-button {
    display: block;
    margin: auto;
    margin-left: 0;
    position: relative;
    z-index: 10;
    color: #000;
}

form {
    position: relative;
    z-index: 200;
}

#subscribe input[type="email"] {
    position: relative;
    z-index: 500;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    border-radius: 5px;
}

#subscribe input:focus {
    border: 2px solid var(--primary);
}

#subscribe button[type="submit"] {
    width: 100%;
}

#subscribe button[type="submit"]:hover {
    opacity: .7;
}

.disclaimer {
    margin-top: 70px;
    line-height: 1.2em;
    font-size: .9em;
    text-align: center;
}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1024px) {

    /*-- -------------------------- -->
    <---           LANDING          -->
    <--- -------------------------- -*/

    #hero {
        position: relative;
        height: 600px;
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: -2px;
        z-index: 30;
    }

    /*-- -------------------------- -->
    <---          SERVICES          -->
    <--- -------------------------- -*/

    #services {
        padding-top: 100px;
    }

    .bee-line {
        margin: auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 30px;
    }

    .bee-line svg {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
        margin-left: 20px;
    }

    .left {
        height: 2px;
        width: 200px;
        background: #f9f9f9;
        -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
                transform: translateY(10px);
    }


    .topper h2 {
        text-align: center;
        font-size: 2.8em;
    }

    .topper h2 span {
        display: inline-block;
    }

    .topper p {
        text-align: center;
    }

    .services-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 100px;
    }

    .service-item {
        width: 280px;
        margin: 0;
        margin-bottom: 80px !important;
    }

    /*-- -------------------------- -->
    <---         OUR MISSION        -->
    <--- -------------------------- -*/

    .mission-container h2 {
        text-align: center;
    }

    .mission-container p {
        text-align: center;
    }

    .mission-button {
        display: block;
        margin: auto;
    }

    #subscribe input[type="email"] {
        width: 400px;
    }

    button[type="submit"] {
        margin: 0;
    }

    #subscribe {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 570px;
        margin: auto;
    }

}

/* Desktop */
@media screen and (min-width: 1025px) {

    /*-- -------------------------- -->
    <---          LANDING           -->
    <--- -------------------------- -*/

    #hero {
        height: 600px;
        background-attachment: fixed;
        position: relative;
    }

    #home-h {
        font-size: 4.375em;
        -webkit-transform: translateY(40px);
            -ms-transform: translateY(40px);
                transform: translateY(40px);
    }

    #hero img {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 40;
    }

    /*-- -------------------------- -->
    <---          SERVICES          -->
    <--- -------------------------- -*/

    #services {
        padding-top: 100px;
        position: relative;
        padding-bottom: 100px;
    }

    .container {
        max-width: 1280px;
    }

    .topper h2 {
        text-align: center;
        font-size: 2.5em;
    }

    .topper h2 span {
        display: inline-block;
    }

    .bee-line {
        margin: auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 30px;
    }

    .bee-line svg {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
        margin-left: 20px;
    }

    .left {
        height: 2px;
        width: 200px;
        background: #f9f9f9;
        -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
                transform: translateY(10px);
    }

    .topper p {
        text-align: center;
        width: 670px;
        margin: auto;
    }

    .services-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-top: 100px;
    }

    .service-item {
        width: 350px;
        margin: 5px;
        margin-bottom: 80px;
    }

    .service-item p {
        height: 150px;
    }

    .service-item:last-child {
        margin-bottom: 80px;
    }

    /*-- -------------------------- -->
    <---         OUR MISSION        -->
    <--- -------------------------- -*/

    #our-mission {
        background: url("/images/mission.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .mission-container h2 {
        width: 500px;
        font-size: 2.5em;
    }

    .mission-container p {
        width: 500px;
    }

    #subscribe input[type="email"] {
        width: 500px;
    }

    #subscribe button[type="submit"] {
        width: 120px;
        margin: 0 0 0 30px;
    }

    #subscribe {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: 570px;
        margin: auto;
        margin-left: 0;
        margin-top: 20px;
    }

}