/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

html {
    overflow-y: scroll;
}

#hero {
    min-height: 300px;
    height: 300px;
    background: url('/images/wood-texture-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#hero:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(74,75,82);
        background: -o-radial-gradient(circle, rgba(74,75,82,0.6839110644257703) 9%, rgba(0,0,0,1) 100%);
        background: radial-gradient(circle, rgba(74,75,82,0.6839110644257703) 9%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a4b52",endColorstr="#000000",GradientType=1);
    top: 0;
    left: 0;
    z-index: -1;
}

#home-h {
    width: 100%;
    text-align: center;
    font-size: 2.438em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    z-index: 10;
    margin-top: 90px;
}

#hero img {
    display: none;
}

#home-h:before {
    content: '';
    position: absolute;
    width: 70%;
    height: 80px;
    border: 10px solid rgba(206, 150, 39, .4);
    z-index: -1;
}

/*-- -------------------------- -->
<---          GALLERY           -->
<--- -------------------------- -*/

#gallery {
    background: url("../images/faded-texture-mobile.png");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery {
    height: auto;
}

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 0;
}

.gallery img {
    width: 43%;
    height: 43vw;
    margin: 10px;
    border: 7px solid #fff;
    -webkit-box-shadow: 10px 10px 34px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px -21px rgba(0,0,0,0.75);
}

.gallery img:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 2000px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 20000;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
} 

.modal img {
    border: none;
    box-shadow: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0 auto !important;
}

.modal i {
    height: auto;
    color: #fff;
    font-size: 1.875em;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2000;
}

.modal i:hover {
    cursor: pointer;
    opacity: .6;
}

/* Modals Visibility */

.modal-one,
.modal-two,
.modal-three,
.modal-four,
.modal-five,
.modal-six,
.modal-seven,
.moadl-eight,
.modal-nine,
.modal-ten,
.modal-eleven,
.modal-twelve,
.modal-thirteen,
.modal-fourteen,
.modal-fifteen,
.modal-sixteen,
.modal-seventeen,
.moadl-eighteen,
.modal-nineteen,
.modal-twenty,
.modal-twenty-one {
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/* Modal Visibility Clicked */

.modal-one.clicked,
.modal-two.clicked,
.modal-three.clicked,
.modal-four.clicked,
.modal-five.clicked,
.modal-six.clicked,
.modal-seven.clicked,
.modal-eight.clicked,
.modal-nine.clicked,
.modal-ten.clicked,
.modal-eleven.clicked,
.modal-twelve.clicked,
.modal-thirteen.clicked,
.modal-fourteen.clicked,
.modal-fifteen.clicked,
.modal-sixteen.clicked,
.modal-seventeen.clicked,
.modal-eighteen.clicked,
.modal-nineteen.clicked,
.modal-twenty.clicked,
.modal-twenty-one.clicked {
    visibility: visible;
    margin: auto;
    z-index: 2000;
    top: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
}

/* Clicked Images */

html.clicked {
    overflow-y: hidden;
}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1023px) {

    #hero {
        position: relative;
        height: 700px;
    }

    #home-h {
        font-size: 3.500em;
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: -1px;
        z-index: 40;
    }

    /*-- -------------------------- -->
    <---          GALLERY           -->
    <--- -------------------------- -*/

    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 100px 0;
    }

    .gallery img {
        width: 45%;
        height: 45vw;
        border: 15px solid #fff;
    }

    .modal img {
        width: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    #hero {
        height: 600px;
        background-attachment: fixed !important;
        position: relative;
        background: url("/images/wood-texture.jpg");
    }

    #home-h {
        font-size: 4.375em;
        -webkit-transform: translateY(50px);
            -ms-transform: translateY(50px);
                transform: translateY(50px);
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 40;
    }

    /*-- -------------------------- -->
    <---          GALLERY           -->
    <--- -------------------------- -*/

    #hero {
        height: 600px;
    }

    #gallery {
        background: url("../images/faded-texture-desktop.png");
        background-attachment: fixed;
    }

    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 100px 10px;
        max-width: 1100px;
        margin: auto;
    }

    .gallery img {
        width: 300px;
        height: 300px;
        margin: 15px;
        border: 10px solid #fff;
    }

    .modal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .modal img {
        display: block;
        height: 600px;
        width: auto;
        height: auto;
        margin: auto !important;
    }

}